@import "base";

.dropdown {
    position: relative;
    .dropdown-menu {
        position: absolute;
        display: none;
        left: 0px;
        top: 100%;
        background-color: #fff;
    }
}

header.main {
    @include background(linear-gradient(#696C71, #4C5056));
    line-height: 35px;
    a {
        display: inline-block;
        padding: 0px 10px;
        border-left: 1px solid #444;
        color: #eee;
        outline: none;
        text-decoration: none;
        &:first-child {
            margin-left: 20px;
        }
        &:hover {

        }
    }
}

div.body {
    overflow: hidden;
}

nav.left {
    position: fixed;
    height: 100%;
    background: #eee;
    width: 125px;
    a {
        display: block;
    }
}

.page-body {
    margin-left: 135px;
}
