{% load compressed %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="css2" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="css3"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>bags.js</title>
    <script type="text/javascript">
    var curl = {
        baseUrl: '/static/js',
        paths: {
            history: 'lib/history'
        }
    };
    </script>
    {% compressed_css 'base' %}
    {% compressed_js 'base_libs' %}
    {% compressed_js 'app' %}
    <script type="text/javascript">
        var Globals = {};
        dust.compileAndLoad = function(templates) {
            Object.each(templates, function(content, name) {
                compiled = dust.compile(content, name);
                dust.loadSource(compiled);
            });
        };
        {% if data %}
        Globals._preload = {{ data|safe }};
        {% endif %}
        curl(['js!core/utils/behavior', 'app/App', 'domReady!'], function(behavior, Application) {
            var app = new Application({
                el: $(document.body)
            }).attach();
        });
    </script>
</head>
<body>
</body>
</html>
